.container {
    position: absolute;
    z-index: 10000;
    padding: 5px;
    bottom: 25px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    border: 1px solid gray;
}

.rangeSelector {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
}