.colorFormContainer {
  display: flex;
  flex-direction: column;
  background-color: rgb(42, 42, 42);
  border-radius: 3px;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.active {
  width: 220px;
  height: auto;
}

.inActive {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 0px solid transparent;
}

.colorFormContainer .closeButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.colorFormContainer .form {
  padding: 5px;
}
