
.rightSidePanel{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 16px;
    min-height: 60vh;
    width: 220px;
    z-index:2;
    overflow-y: auto;
    background: linear-gradient(90deg, black, transparent);
}